<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static',filename='01.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>{{ name }}的电影列表</title>
</head>
<body>
    <h2>
        <img class='avatar' src="{{ url_for('static',filename='images/666.jpg') }}" alt="头像">
        {{ name }}的电影列表
    </h2>
    {# length过滤获取movies变量长度 #}
    <p>{{ movies|length }}</p>
    <ul class='movie-list'>
        {% for movie in movies %}
        <li>{{ movie.title }} —— {{ movie.year }}</li>
        {% endfor %}
    </ul>
    <img class="manhua" src="{{ url_for('static',filename='images/002.jpg') }}" alt="漫画">
    <footer>&copy;<a href="http://www.baidu.com">百度</a></footer>
</body>
</html>